{
  "extends": [
    "@hypeguy/eslint-config"
  ],
  "globals": {
    "__DEV__": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": true }],
    "react/display-name": 0
  }
}
