.button {
  position: relative;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: transparent;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  z-index: 1;
  color: #DEAE5E;
}

.button-default:after{
  background: #222222;
}

.button:before{
  content: '';
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
  display: inline-block;
  background: url(../../static/img/border-pattern.png);
  z-index: -1;
  border-radius: 5px;
}

.button:after {
  content: '';
  background: black;
  position: absolute;
  top: 2px; bottom: 2px;
  left: 2px; right: 2px;
  z-index: -1;
  border-radius: 5px;
}