.button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.button-success {
  background: #4CAF50;
  color: #FFFFFF;
}
.button-success:hover,
.button-success:active,
.button-success:focus {
  background: #43A047;
}

